.date-range{
    &__group{
        margin-bottom: 1rem;
    }
    &__picker{
        padding: 4px 10px;
        border:none;
        background-color: #f3f3f3;
        border-radius: 5px;
        font-size: 1.25rem;
        cursor: pointer;
    }
}


